sphinx==4.2.0
sphinx_rtd_theme==1.0.0
readthedocs-sphinx-search==0.3.2
pandas[pytables,tabulate]
h5py>=3.1
matplotlib>=3.3
numpy>=1.19
lmfit>=1.0
python-pptx>=0.6.18
scipy>=1.5
pathlib
qtconsole>=5
QtPy